.profilePicture {
    border-radius: 50%;

    cursor: pointer;

    transition: box-shadow 0.3s;
}

.greetingText {
    margin-left: 8px;
}

.tomatLink {
    color: pink;
    text-shadow: 0 0 4px pink;
}