.pfp {
  border-radius: 100%;
  margin: 15px;

  transition: box-shadow 0.3s;
}

.pfp:hover {
  box-shadow: 0 0 15px #fff;
}

.tip {
  color: gray;
}

.firstTip {
  margin-top: -2em;
}

.iconArray {
  margin-top: -1.5em;
  display: flex;
  justify-content: center;
}

.iconImage {
  scale: 75%;
  opacity: 70%;

  transition: scale 0.7s, opacity 0.3s;
}

.iconImage:hover {
  scale: 100%;
  opacity: 100%;
}

.flexConstrain {
  display: flex;
  justify-content: center;
}

.transparentBg {
  color: transparent;
}
