h1,
h2,
h3,
h4,
h5,
h6,
p,
.fadable {
    animation: fadeIn 6s forwards;
    -webkit-animation: fadeIn 6s forwards;
    -moz-animation: fadeIn 6s forwards;
    -o-animation: fadeIn 6s forwards;
    -ms-animation: fadeIn 6s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes imgRounding {
    0% {
        border-radius: 8px;
    }
    100% {
        border-radius: 64px;
    }
}
  
@-moz-keyframes imgRounding {
    0% {
        border-radius: 8px;
    }
    100% {
        border-radius: 64px;
    }
}
  
@-webkit-keyframes imgRounding {
    0% {
        border-radius: 8px;
    }
    100% {
        border-radius: 64px;
    }
}
  
@-o-keyframes imgRounding {
    0% {
        border-radius: 8px;
    }
    100% {
        border-radius: 64px;
    }
  }
  
@-ms-keyframes imgRounding {
    0% {
        border-radius: 8px;
    }
    100% {
        border-radius: 64px;
    }
}

@keyframes discordRotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  
@-moz-keyframes discordRotation {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
  
@-webkit-keyframes discordRotation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
  
@-o-keyframes discordRotation {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}
  
@-ms-keyframes discordRotation {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}