---
import FadeInContainer from "../components/FadeInContainer.astro";
import AstroDiscordPfp from "../components/shared/AstroDiscordPfp.astro";
import MetaLayout from "../layouts/MetaLayout.astro";

let title = 'Tomat';
let description = 'tomato';
---

<MetaLayout title={title} description={description}>
	<FadeInContainer phases={2} optIn={false}>
		<div class="grid place-items-center h-screen">
			<h1 class="phase-1">Test</h1>
			<div id="pfp" class="phase-0">
				<AstroDiscordPfp width={128} height={128} />
			</div>
		</div>
	</FadeInContainer>
</MetaLayout>