$link-idle-blue: pink;
$link-gradient-blue: salmon;

.pfp {
  border-radius: 50%;
  margin-right: 10px;

  cursor: pointer;

  transition: box-shadow 0.3s;
}

.pfp:hover {
  box-shadow: 0 0 16px 4px darkred;
}

.text {
  align-self: center;
  margin: 0;
}

.headerTitle {
  color: gray;
  transition: color 1s ease;
}

.headerTitle:hover {
  color: white;
}

/*.centerText {
  justify-self: center;
  align-self: center;
}*/

.tomat {
  text-decoration: none;
  position: relative;
  color: $link-idle-blue;

  text-shadow: 0 0 12px $link-idle-blue;
}

.tomat::after,
.tomat::before {
  content: "";
  display: block;
  position: absolute;

  bottom: 0;
  right: 0;
  left: 0;
  height: 0.075em;

  transition: width 0.3s;
}

.tomat::before {
  background-color: currentColor;
  background: transparent;
}

.tomat::after {
  width: 0%;
  background: $link-idle-blue;
}

// Apply transitional animations.
.tomat:hover {
  text-decoration: none;

  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from($link-idle-blue),
    color-stop($link-idle-blue),
    color-stop($link-gradient-blue),
    color-stop($link-idle-blue),
    to($link-idle-blue)
  );

  background: linear-gradient(
    270deg,
    $link-idle-blue,
    $link-idle-blue,
    $link-gradient-blue,
    $link-idle-blue,
    $link-idle-blue
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: 400% 400%;

  animation: bg-grad-anim 3s ease infinite;
}

.tomat:hover::after {
  width: 100%;
}

@keyframes bg-grad-anim {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
