@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.stickyFooter {
  font-family: 'IBM Plex Mono', monospace;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #101010;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 15px;
}
