@tailwind base;
@tailwind components;
@tailwind utilities;

@import "global.colors.scss";
@import "global.mantine.scss";
@import "global.fonts.scss";

html,
body {
  font-family: $font-quicksand;
  font-size: 18px;
  line-height: 1.4;
  color: $text-color;
  //background-color: $background-color;

  margin-right: 36px;
  margin-left: 36px;

  text-align: center;

  ::selection {
    background-color: $highlighted-background-color;
    color: $highlighted-text-color;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  position: relative;
  color: $link-idle-blue;

  text-shadow: 0 0 4px $link-idle-blue;
}

a:hover {
  text-decoration: underline;
}

.flexible {
  display: flex;
}

.center-flexible {
  display: flex;
  align-items: center;
  justify-content: center;
}
