// Global mixins used everywhere.

/// Stickies elements to the screen. Does not provide top or bottom hoisting.
@mixin sticked-element {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 99999;
}

/// Stickies elements to the top of the screen.
@mixin top-sticked-element {
  @include sticked-element;

  top: 0;
}

/// Stickies elements to the bottom of the screen.
@mixin bottom-sticked-element {
  @include sticked-element;

  bottom: 0;
}

/// Marks an element as "flex"ible. Center-aligned and center-justified contents. Flex display.
@mixin flex-display {
  display: flex;
  alight-items: center;
  justify-content: center;
}
