$background-color: #040404bf;
$hoisted-color: #0a0a0a;
$text-color: white;

$mantine-override-color: #040404bf;

$highlighted-background-color: white;
$highlighted-text-color: black;

$link-idle-blue: #add8e6;
$link-gradient-blue: #67cff1;
