@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  line-height: 1.6;
  font-size: 18px;
  color: white;
  background-color: #010101;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  position: relative;
  color: lightblue;
}

a:before,
a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0em;
  right: 0;
  left: 0;
  height: 0.05em;
}

a:before {
  width: 100%;
  transition: width 0.3s;
  background-color: currentColor;
  background: transparent;
}

a:after {
  width: 0;
  transition: width 0.3s;
  background: lightblue;
}

a:hover {
  text-decoration: none;
  transition: width 0.3s;

  background: linear-gradient(
    270deg,
    #add8e6,
    #add8e6,
    #67cff1,
    #add8e6,
    #add8e6
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  -webkit-animation: bg-grad-anim 3s ease infinite;
  -moz-animation: bg-grad-anim 3s ease infinite;
  -o-animation: bg-grad-anim 3s ease infinite;
  animation: bg-grad-anim 3s ease infinite;
}

a:hover:after {
  width: 100%;
}

img {
  max-width: 100%;
  display: block;
  margin: 15px;
}

code:not(.ignore-md) {
  background-color: rgb(22, 22, 22);
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 80%;
}

.header {
  margin-bottom: 2rem;
}

@-webkit-keyframes bg-grad-anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes bg-grad-anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-o-keyframes bg-grad-anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bg-grad-anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Tomorrow Night Theme */
/* https://jmblog.github.io/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* https://jmblog.github.io/color-themes-for-google-code-highlightjs */
.tomorrow-comment,
pre .hljs-comment,
pre .hljs-title {
  color: #969896;
}

.tomorrow-red,
pre .hljs-variable,
pre .hljs-attribute,
pre .hljs-tag,
pre .hljs-regexp,
pre .hljs-ruby .hljs-constant,
pre .hljs-xml .hljs-tag .hljs-title,
pre .hljs-xml .hljs-pi,
pre .hljs-xml .hljs-doctype,
pre .hljs-html .hljs-doctype,
pre .hljs-css .hljs-id,
pre .hljs-css .hljs-class,
pre .hljs-css .hljs-pseudo {
  color: #cc6666;
}

.tomorrow-orange,
pre .hljs-number,
pre .hljs-preprocessor,
pre .hljs-built_in,
pre .hljs-literal,
pre .hljs-params,
pre .hljs-constant {
  color: #de935f;
}

.tomorrow-yellow,
pre .hljs-class,
pre .hljs-ruby .hljs-class .hljs-title,
pre .hljs-css .hljs-rules .hljs-attribute {
  color: #f0c674;
}

.tomorrow-green,
pre .hljs-string,
pre .hljs-value,
pre .hljs-inheritance,
pre .hljs-header,
pre .hljs-ruby .hljs-symbol,
pre .hljs-xml .hljs-cdata {
  color: #b5bd68;
}

.tomorrow-aqua,
pre .hljs-css .hljs-hexcolor {
  color: #8abeb7;
}

.tomorrow-blue,
pre .hljs-function,
pre .hljs-python .hljs-decorator,
pre .hljs-python .hljs-title,
pre .hljs-ruby .hljs-function .hljs-title,
pre .hljs-ruby .hljs-title .hljs-keyword,
pre .hljs-perl .hljs-sub,
pre .hljs-javascript .hljs-title,
pre .hljs-coffeescript .hljs-title {
  color: #81a2be;
}

.tomorrow-purple,
pre .hljs-keyword,
pre .hljs-javascript .hljs-function {
  color: #b294bb;
}

pre code {
  display: block;
}
