// Globally-used colors.

$background-color: #040404df; // 040404
$hoisted-color: #0a0a0a; // #0f0f0f
$text-color: white;

$highlighted-background-color: white;
$highlighted-text-color: black;

$link-idle-blue: #add8e6;
$link-gradient-blue: #67cff1;
