@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.entrypoint {
  font-family: 'IBM Plex Mono', monospace;
  color: yellowgreen;
}

.wip {
  font-family: 'IBM Plex Mono', monospace;
  color: yellow;
}

.stub {
  font-family: 'IBM Plex Mono', monospace;
  color: gray;
}

.glossary {
  font-family: 'IBM Plex Mono', monospace;
  color: pink;
}

.messy {
  font-family: 'IBM Plex Mono', monospace;
  color: lightcoral;
}

.fixedTopDisplay {
  position: flex;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  font-size: 16px;
}
