.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 100%;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.fixedTop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.progressContainer {
  width: 100%;
  background-color: transparent;
  height: 5px;
  display: block;
}

.progressBar {
  background: linear-gradient(270deg, #67cff1, #add8e6);
  display: block;
  height: inherit;
}
